Table 2.3.2: Substance use (primary and adjunctive combined) by age of all young people in treatment 2016-17

In [1]:
from gssutils import *

if is_interactive():
    scraper = Scraper('https://www.gov.uk/government/statistics/substance-misuse-treatment-for-young-people-statistics-2016-to-2017')
    tabs = {tab.name: tab for tab in scraper.distribution(title=lambda t: t.startswith('Data tables')).as_databaker()}

In [2]:
tab = tabs['2.3.2 Age and Substance Use']

In [3]:
observations = tab.excel_ref('B5').expand(DOWN).expand(RIGHT).is_not_blank()
observations

{<C6 0.5>, <G10 '2%*'>, <G7 0.1>, <K13 0.0>, <M11 0.02>, <H14 4346.0>, <H5 3921.0>, <B11 31.0>, <M14 1.0>, <L14 4029.0>, <J8 412.0>, <B10 '*'>, <B6 175.0>, <K10 '3%*'>, <K11 0.02>, <I7 0.11>, <K14 1.0>, <L8 603.0>, <M10 '4%*'>, <D14 990.0>, <C9 0.03>, <J13 20.0>, <K6 0.49>, <K5 0.9>, <C13 0.0>, <E10 '1%*'>, <L6 1963.0>, <E14 1.0>, <D12 '*'>, <B12 0.0>, <I14 1.0>, <B7 18.0>, <L11 73.0>, <F12 13.0>, <L10 '155*'>, <B5 247.0>, <C12 0.0>, <F11 81.0>, <I8 0.07>, <H10 '120*'>, <G6 0.52>, <F13 '*'>, <D10 '10*'>, <F5 2261.0>, <K8 0.1>, <G11 0.03>, <J9 164.0>, <I12 0.01>, <B9 10.0>, <D5 807.0>, <K9 0.04>, <M5 0.88>, <E13 '-'>, <C8 0.02>, <G12 0.0>, <E7 0.06>, <F7 257.0>, <C5 0.7>, <M12 0.02>, <E8 0.03>, <K12 0.01>, <F14 2610.0>, <J6 2000.0>, <H6 2095.0>, <I6 0.48>, <C10 '-'>, <F10 '60*'>, <I5 0.9>, <H7 494.0>, <I10 '3%*'>, <J11 84.0>, <G14 1.0>, <E11 0.03>, <H11 129.0>, <L13 48.0>, <B13 0.0>, <L7 479.0>, <J12 50.0>, <M13 0.01>, <F9 75.0>, <L12 85.0>, <H9 142.0>, <D7 64.0>, <G8 0.04>, <D13 '*'>, <H13 11.0>, <F8 117.0>, <K7 0.12>, <J10 '145*'>, <M8 0.15>, <L5 3531.0>, <E6 0.48>, <E5 0.82>, <J14 4109.0>, <H12 28.0>, <G9 0.03>, <C14 1.0>, <D8 28.0>, <C7 0.05>, <B14 352.0>, <G5 0.87>, <I11 0.03>, <M7 0.12>, <J7 503.0>, <I9 0.03>, <H8 305.0>, <D11 32.0>, <M6 0.49>, <E9 0.02>, <I13 0.0>, <G13 '-'>, <B8 8.0>, <L9 173.0>, <E12 '-'>, <C11 0.09>, <D9 21.0>, <D6 473.0>, <F6 1352.0>, <J5 3682.0>, <M9 0.04>}

In [4]:
substance = tab.excel_ref('A5').expand(DOWN).is_not_blank()
substance

{<A11 'Solvents'>, <A14 'Total▼'>, <A10 'Amphetamines'>, <A22 '‡ Due to low numbers when breaking down by age, figures for heroin, methadone and other opiates are collapsed into a single opiates category in this table.  A single young person may therefore be counted as both a primary and adjunctive opiate user, and therefore the sum of primary and adjunctive opiate users may be greater than the total number of opiate users.'>, <A20 '∆ Due to very low numbers for some substances, the ‘under 12’ and ’12-13’ age groups are combined in this table.'>, <A18 '▼ Total number of individuals in the corresponding age group, not the sum of all instances in the column'>, <A7 'Ecstasy'>, <A26 '* All numbers under five have been suppressed. Where totals could be derived, figures have been rounded to the nearest five and marked with an asterisk.'>, <A9 'New psychoactive substances'>, <A16 '^ Primary and adjunctive use are combined in this table, therefore a young person may be counted for more than once in this table. See table 2.3.1 for a breakdown of primary and adjunctive use.'>, <A13 'Crack'>, <A6 'Alcohol'>, <A5 'Cannabis'>, <A8 'Cocaine'>, <A12 'Opiates ‡'>}

In [5]:
age = tab.excel_ref('B3').expand(RIGHT).is_not_blank() 
age

{<B3 'Under 13∆'>, <J3 '16-17'>, <H3 '15-16'>, <F3 '14-15'>, <L3 '17-18'>, <D3 '13-14'>}

In [6]:
measuretype = tab.excel_ref('B4').expand(RIGHT).is_not_blank() 
measuretype

{<J4 'n'>, <H4 'n'>, <C4 '%'>, <B4 'n'>, <M4 '%'>, <L4 'n'>, <E4 '%'>, <D4 'n'>, <I4 '%'>, <G4 '%'>, <F4 'n'>, <K4 '%'>}

In [7]:
Dimensions = [
            HDim(substance,'Substance',DIRECTLY,LEFT),
            HDim(age,'Basis of treatment',CLOSEST,LEFT),
            HDim(measuretype,'Measure Type',DIRECTLY,ABOVE),
            HDimConst('Unit','People')            
            ]

In [8]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# if is_interactive():
#     savepreviewhtml(c1)

In [9]:
new_table = c1.topandas()
new_table

      OBS DATAMARKER  Substance Basis of treatment Measure Type    Unit
0     247        NaN   Cannabis          Under 13∆            n  People
1     0.7        NaN   Cannabis          Under 13∆            %  People
2     807        NaN   Cannabis              13-14            n  People
3    0.82        NaN   Cannabis              13-14            %  People
4    2261        NaN   Cannabis              14-15            n  People
5    0.87        NaN   Cannabis              14-15            %  People
6    3921        NaN   Cannabis              15-16            n  People
7     0.9        NaN   Cannabis              15-16            %  People
8    3682        NaN   Cannabis              16-17            n  People
9     0.9        NaN   Cannabis              16-17            %  People
10   3531        NaN   Cannabis              17-18            n  People
11   0.88        NaN   Cannabis              17-18            %  People
12    175        NaN    Alcohol          Under 13∆            n  People
13    0.5        NaN    Alcohol          Under 13∆            %  People
14    473        NaN    Alcohol              13-14            n  People
15   0.48        NaN    Alcohol              13-14            %  People
16   1352        NaN    Alcohol              14-15            n  People
17   0.52        NaN    Alcohol              14-15            %  People
18   2095        NaN    Alcohol              15-16            n  People
19   0.48        NaN    Alcohol              15-16            %  People
20   2000        NaN    Alcohol              16-17            n  People
21   0.49        NaN    Alcohol              16-17            %  People
22   1963        NaN    Alcohol              17-18            n  People
23   0.49        NaN    Alcohol              17-18            %  People
24     18        NaN    Ecstasy          Under 13∆            n  People
25   0.05        NaN    Ecstasy          Under 13∆            %  People
26     64        NaN    Ecstasy              13-14            n  People
27   0.06        NaN    Ecstasy              13-14            %  People
28    257        NaN    Ecstasy              14-15            n  People
29    0.1        NaN    Ecstasy              14-15            %  People
..    ...        ...        ...                ...          ...     ...
90     28        NaN  Opiates ‡              15-16            n  People
91   0.01        NaN  Opiates ‡              15-16            %  People
92     50        NaN  Opiates ‡              16-17            n  People
93   0.01        NaN  Opiates ‡              16-17            %  People
94     85        NaN  Opiates ‡              17-18            n  People
95   0.02        NaN  Opiates ‡              17-18            %  People
96      0        NaN      Crack          Under 13∆            n  People
97      0        NaN      Crack          Under 13∆            %  People
98                 *      Crack              13-14            n  People
99                 -      Crack              13-14            %  People
100                *      Crack              14-15            n  People
101                -      Crack              14-15            %  People
102    11        NaN      Crack              15-16            n  People
103     0        NaN      Crack              15-16            %  People
104    20        NaN      Crack              16-17            n  People
105     0        NaN      Crack              16-17            %  People
106    48        NaN      Crack              17-18            n  People
107  0.01        NaN      Crack              17-18            %  People
108   352        NaN     Total▼          Under 13∆            n  People
109     1        NaN     Total▼          Under 13∆            %  People
110   990        NaN     Total▼              13-14            n  People
111     1        NaN     Total▼              13-14            %  People
112  2610        NaN     Total▼              14-15            n  People
113     1        NaN     Total▼              14-15            %  People
114  4346        NaN     Total▼              15-16            n  People
115     1        NaN     Total▼              15-16            %  People
116  4109        NaN     Total▼              16-17            n  People
117     1        NaN     Total▼              16-17            %  People
118  4029        NaN     Total▼              17-18            n  People
119     1        NaN     Total▼              17-18            %  People

[120 rows x 6 columns]

In [10]:
new_table = new_table[new_table['OBS'] != '' ]

In [11]:
new_table = new_table[new_table['OBS'] != 0 ]

In [12]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [13]:
new_table['Basis of treatment'] = 'Ag/' + new_table['Basis of treatment']

In [14]:
new_table.head()

  Value DATAMARKER Substance Basis of treatment Measure Type    Unit
0   247        NaN  Cannabis       Ag/Under 13∆            n  People
1   0.7        NaN  Cannabis       Ag/Under 13∆            %  People
2   807        NaN  Cannabis           Ag/13-14            n  People
3  0.82        NaN  Cannabis           Ag/13-14            %  People
4  2261        NaN  Cannabis           Ag/14-15            n  People

In [15]:
new_table['Clients in treatment'] = 'Primary and adjunctive combined'

In [16]:
new_table['Substance'] = new_table['Substance'].map(
    lambda x: {
        'Total▼' : 'All' 
        }.get(x, x))

In [17]:
new_table['Basis of treatment'] = new_table['Basis of treatment'].str.rstrip('∆')

In [18]:
new_table.head()

,Value,DATAMARKER,Substance,Basis of treatment,Measure Type,Unit,Clients in treatment
0,247,NaN,Cannabis,Ag/Under 13,n,People,Primary and adjunctive combined
1,0.7,NaN,Cannabis,Ag/Under 13,%,People,Primary and adjunctive combined
2,807,NaN,Cannabis,Ag/13-14,n,People,Primary and adjunctive combined
3,0.82,NaN,Cannabis,Ag/13-14,%,People,Primary and adjunctive combined
4,2261,NaN,Cannabis,Ag/14-15,n,People,Primary and adjunctive combined

In [19]:
new_table['Measure Type'] = new_table['Measure Type'].map(
    lambda x: {
        'n' : 'Count', 
        '%' : 'Percentage',
        }.get(x, x))

In [20]:
new_table.tail()

,Value,DATAMARKER,Substance,Basis of treatment,Measure Type,Unit,Clients in treatment
115,1,NaN,All,Ag/15-16,Percentage,People,Primary and adjunctive combined
116,4109,NaN,All,Ag/16-17,Count,People,Primary and adjunctive combined
117,1,NaN,All,Ag/16-17,Percentage,People,Primary and adjunctive combined
118,4029,NaN,All,Ag/17-18,Count,People,Primary and adjunctive combined
119,1,NaN,All,Ag/17-18,Percentage,People,Primary and adjunctive combined

In [21]:
new_table.dtypes

Value                   object
DATAMARKER              object
Substance               object
Basis of treatment      object
Measure Type            object
Unit                    object
Clients in treatment    object
dtype: object

In [22]:
new_table['Value'] = new_table['Value'].astype(str)

In [23]:
new_table.head(3)

,Value,DATAMARKER,Substance,Basis of treatment,Measure Type,Unit,Clients in treatment
0,247.0,NaN,Cannabis,Ag/Under 13,Count,People,Primary and adjunctive combined
1,0.7,NaN,Cannabis,Ag/Under 13,Percentage,People,Primary and adjunctive combined
2,807.0,NaN,Cannabis,Ag/13-14,Count,People,Primary and adjunctive combined

In [24]:
new_table['Period'] = '2016-17'
new_table = new_table[['Period','Basis of treatment','Substance','Clients in treatment','Measure Type','Value','Unit']]

In [25]:
new_table.head()

,Period,Basis of treatment,Substance,Clients in treatment,Measure Type,Value,Unit
0,2016-17,Ag/Under 13,Cannabis,Primary and adjunctive combined,Count,247.0,People
1,2016-17,Ag/Under 13,Cannabis,Primary and adjunctive combined,Percentage,0.7,People
2,2016-17,Ag/13-14,Cannabis,Primary and adjunctive combined,Count,807.0,People
3,2016-17,Ag/13-14,Cannabis,Primary and adjunctive combined,Percentage,0.82,People
4,2016-17,Ag/14-15,Cannabis,Primary and adjunctive combined,Count,2261.0,People